<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
    <h4 class="text-light my-3">Пользователи</h4>
    <form id="filter_form">
        <div class="row">
            <div class="input-group my-1 col-12">
                <div class="col-3 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Имя</span>
                    </div>
                    <input name="user_name" type="text" th:value="${user_name}" class="form-control"
                           autofocus="true"/>
                </div>

                <div class="col-3 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Эл. почта</span>
                    </div>
                    <input name="user_email" type="text" th:value="${user_email}" class="form-control"
                           autofocus="true"/>
                </div>
                <div class="col-3 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Роль</span>
                    </div>
                    <select name="user_role" class="form-control" th:value="${user_role}"
                            th:remove="all-but-first">
                        <option th:with="arr=${{null}}"
                                th:each="role, iter: ${roles}"
                                th:value="${role}"
                                th:text="${role!= null?role.getName():''}"/>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="btn-group my-3" role="group">
        <button class="text-light btn bg-primary mx-3"
                onclick="postdata('admin/users', $('#filter_form'))">Поиск
        </button>
        <button class="text-light btn bg-primary mx-3" onclick="showedit('admin/user?id=0');">
            Создать
        </button>
        <button class="text-light btn bg-primary  mx-3" onclick="showedit('admin/user?id='+selId);">
            Редактировать
        </button>
        <button class="text-light btn bg-primary mx-3"
                onclick="postdata('admin/user/delete?id='+selId, $('#filter_form'))">Удалить
        </button>
    </div>

    <div id="table_div"/>
    <div id="edit_div"/>
    <script th:inline="javascript">
        $(window).on('load', function () {
            postdata('admin/users', $('#filter_form'));
        });
    </script>
</div>
</html>